*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.titulo{
    font-size: 60px;
}
.textTi{
    font-size: 38px;
}

.contenedor {
    display: grid;
    grid-template-areas:
        
        "A A A A"
        "UNO DOS TRES CUATRO"
        "B B B B"
        "C C C C"
        "D D D D"
        "E E E E";
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 100vh;
    width: 100%;
    gap: 10px;
    padding: 20px;
    background-color: #555;
}
.A{
    grid-area: A;
    background-color: #9d8383;
    padding: 2px;
    border-radius: 8px;
    margin: 24px;
    display: flex;
    border: #9d8383;
}
.B{
    grid-area: B;
background-color: bisque;
    border-radius: 8px;
   
    border: #9d8383;
}
.C{
    grid-area: C;
    background-color: bisque;
    border-radius: 8px;
   
    border: #9d8383;
}
.contenedor{
    
    grid-template-columns: repeat(4, 1fr);
}
.UNO{
    flex: 1;
    grid-area: UNO;
    flex:3;
    background-color: bisque;
    border-radius: 8px;
    
    border: #9d8383;
}
.UNO:hover{
    flex: auto;
}
.CUATRO{
    grid-area: CUATRO;
    background-color: bisque;
    border-radius: 8px;
    border: #9d8383;
    justify-content: center;
}
.TRES{
    grid-area: TRES;
    background-color: bisque;
    border-radius: 8px;
    justify-content: center;
    border: #9d8383;
}
.D{
    grid-area: D;
    background-color: bisque;
    border-radius: 8px;
    
    border: #9d8383;
}
.DOS{
    grid-template-columns: repeat(4, 1fr);
    border-radius: 8px;
    border: #9d8383;
    background-color: bisque;
    justify-content: center;
}
.ima-small:hover {
    flex: 5;
    cursor: pointer;
    /* flex:1; */
    /* transform: scale(2); */
    /* border-radius: 500px; */
    /* width: 150px; 
    height: 120px; */
}
.e{
    grid-area: E;
    background-color: bisque;
    border-radius: 8px;
    
    border: #9d8383;
}





.t-comun {
    text-align: left;
    font-size: 30px;
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
    color: #555;
}




@media (max-width: 599px) {
    .contenedor {
        display: grid;
        grid-template-areas:
            
            "A A A A"
            "UNO UNO UNO UNO"
            "DOS DOS DOS DOS"
            "TRES TRES TRES TRES"
            "CUATRO CUATRO CUATRO CUATRO"
            "B B B B"
            "C C C C"
            "D D D D"
            "E E E E";
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 10px;
        padding: 20px;
    }

    .p-1 {
        all: unset;
    }

    .A,
    .UNO,
    .DOS,
    .TRES,
    .CUATRO,
    .B,
    .C,
    .D,
    .E {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        border-radius: 8px;
    }

    .ico {
        height: 50px;
        width: 50px;
    }


    
}

@media (min-width: 601px) and (max-width: 900px) {
    .contenedor {
        display: grid;
        grid-template-areas:
            
            "A A A A"
            "UNO UNO DOS DOS"
            "UNO UNO DOS DOS"
            "TRES TRES CUATRO CUATRO"
            "TRES TRES CUATRO CUATRO"
            "B B B B"
            "C C C C"
            "D D D D"
            "E E E E";
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 10px;
        padding: 20px;
    }

    .p-1 {
        all: unset;
    }

    .A,
    .UNO,
    .DOS,
    .TRES,
    .CUATRO,
    .B,
    .C,
    .D,
    .E {
        padding: 10px;
        border-radius: 8px;
    }

    .ico {
        height: 50px;
        width: 50px;
    }
}


    
